* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: $mainBackgroundColor;
  color: $textColor;
  font-family: $fRegul;

  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-family: $fBold;
}

.main__container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.page-enter {
  animation: file-enter .5s;
}

@keyframes file-enter {
  0% {
    opacity: 0;
    transform: translateY(-10%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.drop-shadow-hl {
  filter: drop-shadow(0 0 15px #c4c4c4);
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
