// $mainBackgroundColor: #0e1422;
$mainBackgroundColor: #000;
$textColor: #d1d1d1;
$fBold: 'MartelBold';
$fRegul: 'MartelRegular';

@import "./helpers";
@import "./loader";
@import "./fonts";
@import "./navbar";
@import "./pulse-hover";
@import "./header";
@import "./projects";
@import "./contacts";
@import "./challenge";